{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="my-4 text-primary">About BlogVerse </h1>
        <p>BlogVerse is a simple blogging platform built with Django. It allows users to create, read, update, and delete blog posts easily. The application features user authentication, enabling users to register, log in, and manage their own posts.</p>
        <p>Key features of BlogVerse include:</p>
        <ul>
            <li>User registration and authentication</li>
            <li>Create and manage blog posts</li>
            <li>Responsive design using Bootstrap</li>
            <li>Image uploads for blog posts</li>
        </ul>
        <p>Technologies used in this project:</p>
        <ul>
            <li>Django</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>SQLite (for development)</li>
        </ul>
        <p>We hope you enjoy using BlogVerse!</p>
    </div>
{% endblock content %}
